<body>



<h1>
Thanks for using our weekly planner!
</h1>

<br><br>

<section class="about">
  <div class="main.jpg">
    <img src="https://media.istockphoto.com/id/628504820/photo/they-keep-each-other-going.jpg?s=612x612&w=0&k=20&c=9bsULmyIarCyxiX5O7W3yZCkWZdhWLTPGu6E7k7mQNE="
    width=300px>
    <div class= "about-text">
      <h2>About US</h2>
      <h5>OUR GOAL</h5>
      <p>This app was created to help you reach your fitness goal! It has been scientifically proven that setting small goeals can help you reach your
      ultimate goal</p>
    </div>

  </div>
</section>


</body>
