<style>
  body{
    background-color: lavender;
  }
.about{
width: 100%
padding: 78px 0px:
}
.about img{
  height: auto;
  width: 300px;
  margin-right: 20px;

}
.about-text{
 width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.about h2{
 
  color: blue;
  font-family: verdana;
  
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-left: 30px;
}
.about-goal h3{
  background-color: aqua;
  box-sizing: border-box;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  width: 40px;
}
span{
  color: orange;
  font-size: 24px;
}
</style>

<body>
<h1>
Thanks for using our weekly planner!
</h1>

<br><br>

<div class="about">
    <h2>About US</h2>
  <div class="main">
    <img src="https://www.pngkey.com/png/full/808-8089823_fitness-clipart-group-fitness-workout-group-transparent.png">
    <div class= "about-goal">
      <h3>OUR GOAL</h3>
      <p>GetSwole! was created to help you reach your fitness
         <span>goal</span>! It has been scientifically proven that setting small goals
      can help you reach your ultimate goal.
      Using our planner will help you keep track of your workouts
      on a day to day basis.</p>


    </div>

  </div>
</div>


</body>
