<style>
  body{
    background-color: lavender;
  }
.about{
width: 100%
padding: 78px 0px:
}
.about img{
  height: auto;
  width: 300px;
}
.about-text{
 width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
</style>






<body>
<h1>
Thanks for using our weekly planner!
</h1>

<br><br>

<div class="about">
  <div class="main">
    <img src="https://media.istockphoto.com/id/628504820/photo/they-keep-each-other-going.jpg?s=612x612&w=0&k=20&c=9bsULmyIarCyxiX5O7W3yZCkWZdhWLTPGu6E7k7mQNE=">
    <div class= "about-text">
      <h2>About US</h2>
      <h5>OUR GOAL</h5>
      <p>This planner was created to help you reach your fitness goal! It has been scientifically proven that setting small goeals
      can help you reach your ultimate goal. Using our planner will help you keep track of your workouts on a day to day basis.</p>

    </div>

  </div>
</div>


</body>
