<div class="min-h-screen w-full bg-slate-800 bg-cover bg-center flex flex-col justify-center items-center">
<img src = "https://www.pngkey.com/png/full/808-8089823_fitness-clipart-group-fitness-workout-group-transparent.png" width="15%" class="mb-2">
<form action="/user/signup" method="post">
  <h1 class="text-3xl text-white font-bold underline ease-in-out w-full">Sign Up and Get Started!</h1>
  <input type="text" class = "form-control block w-full px-4 py-2 text-xl font-normal text-gray-500 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition m-0 focus:text-gray-700" name="username" placeholder="Username" required>
  <input type="email" class = "form-control block w-full px-4 py-2 text-xl font-normal text-gray-500 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition m-0 focus:text-gray-700" name="email" placeholder="Email" required>
  <input type="password" class = "form-control block w-full px-4 py-2 text-xl font-normal text-gray-500 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition m-0 focus:text-gray-700" name="password" placeholder="Password" required>
  <button type="submit" class = "inline-block px-4 py-1 bg-green-600 text-white font-medium text-sm leading-snug uppercase rounded hover:bg-blue-300 hover:shadow-sm focus:bg-blue-300 ease-in-out w-full">Sign up</button>
</form>
</div>